body {
  font-family: "Playfair Display", serif; 
}

.header--name{
  font-size: 5em;
  font-weight: 900;
/*   text-transform: uppercase; */
}

.img-fit {
  width: 100%;
}


.above-nav {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.classic-box {
    
    color: black;
    padding: 20px;
    border: 1px solid black;
    box-shadow: 10px 10px;
    background-color: #fdfdfd;
    background-image: url("https://www.transparenttextures.com/patterns/handmade-paper.png");
}

.photo-box {
  color: white;
}

.photo-box img{
border-radius: 10px;
}




/* navbar style */
.navbar {
  margin: 20px 0px;
  border: 1px solid black;
  box-shadow: 10px 10px;
  background-color: #fdfdfd;
  background-image: url("https://www.transparenttextures.com/patterns/handmade-paper.png");
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  font-size:2em; 
}

li {
    float: left;
}

li a {
    display: block;
  color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.divider {
margin:40px 0px; 
border-bottom: 1px solid black;
}

.space {
margin: 40px 0px;
}

.underline--magical {
background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
background-repeat: no-repeat;
background-size: 100% 0.2em;
background-position: 0 88%;
transition: background-size 0.25s ease-in;
}
.underline--magical:hover {
background-size: 100% 88%;
}