h1,h2{
	font-family: "Lucida Console", monospace;
	text-align: center;
}
body{
	font-family: Arial;
	margin: 0px 5% ;
}
blockquote{
	text-align: center;
	background-color: #e6e6e6;
	padding: 2% ;
	margin: 1% 0px ;
	border-left: 10px solid red;
}
img{
	display:block;
	margin: 0 auto;
	padding:1% ;
	background-color: white;
}
div{
	padding: 5%;
	background-color: #e6e6e6;
}
footer p{
	text-align: center;
}
a:visited {
	color:red;
}
img{
	width: 70%;

}
@media only screen and (max-width: 500px){
	h1,h2,h3{
		font-size: 1.25em;
	}
	.link{
		font-size: 80%;
	}
}


